asgiref==3.7.2
colorama==0.4.6
coverage==7.2.7
Django==3.2.8
django-cors-headers==4.1.0
djangorestframework==3.12.4
exceptiongroup==1.2.1
importlib-metadata==6.7.0
iniconfig==2.0.0
mysqlclient==2.0.3
packaging==24.0
pluggy==1.2.0
PyJWT==2.1.0
pytest==7.4.4
python-dotenv==0.19.1
pytz==2024.1
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.7.1
zipp==3.15.0
pillow==11.0.0